body{
    margin:0;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container{
    border: 2px solid black;
    width: 350px;
    height: 450px;
    margin: 30px;
    border-radius: 25px;
    background: url("https://t3.ftcdn.net/jpg/03/97/42/82/360_F_397428228_BDdUrJoIk9SwOHJiaTMiuYrscxOWbI0d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    box-shadow: 5px 10px 8px #888888;
}

.displays{
    border: 2px solid black;
    width: 300px;
    height: 70px;
    margin: 22.5px;
    background-color: rgba(49, 151, 126, 0.3);
    box-shadow: 5px 5px 8px #888888;
}

#displayAll{
    width: 300px;
    height: 20px;
    font-size: 20px;
    display:flex;
    justify-content: flex-end;
}

#display{
    width: 290px;
    height: 40px;
    font-size: 30px;
    display:flex;
    justify-content: flex-end;
    padding: 5px;
}

.topButtonContainer{
    display:flex;
    justify-content: space-between;
    margin: 22.5px 22.5px 15px;
}

.buttonsContainer{
    display: flex;
    margin: 10px 22.5px 10px;
    height: 250px;
    gap: 10px;
}

.numbersButtonContainer{
display: flex;
width: 228.75px;
justify-content: space-between;
flex-wrap: wrap;
gap: 5px;
}

.operatorsButtonContainer {
display: flex;
flex-direction: column;
width: 76.25px;
justify-content: space-between;
align-items: flex-end;
gap: 5px;
}

.numbers, #equal, .operators{
    width: 66.25px;
    border-radius: 15px;
    font-size: 22px;
    box-shadow: 5px 10px 8px #888888;
}

.operators{
    flex: 1 1 0%;
}

#clear, #delete{
    width: 135.5px;
    border-radius: 15px;
    height: 40px;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 5px 10px 8px #888888;
}

.numbers{
    background-color: rgb(180, 180, 180, 0.5);
    font-family: "Lucida Console", "Courier New", monospace;
}

#equal, .operators{
    background-color: rgb(90, 90, 90, 0.5);
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}